@model IList<PublicationResponse>

@{
    ViewBag.Title = "My publications";
}

<div class="main__content">
    <div class="main__content__sidebar">
        <div class="main__content__article__button">
            <a asp-area="Publisher" asp-controller="Publications" asp-action="CreatePublication" class="button-background-green">Create new publication</a>
        </div>
    </div>

    <div class="main__content__articles">
        @if (Model.Count > 0)
        {
            foreach (var publication in Model)
            {
                <div class="main__content__article">

                    <partial name="_ImageCarouselPartial" model="publication.ImagesUrls"></partial>

                    <div class="main__content__article__title">
                        <h2>@publication.Title</h2>
                    </div>

                    <div class="main__content__article__description">
                        <p>@publication.Description</p>
                    </div>

                    <div class="main__content__article__progress">

                        <div class="main__content__article__progress__bar">
                            <div class="main__content__article__progress__bar__fill" style="width: @publication.Progress%;"></div>
                        </div>
                        <div class="main__content__article__progress__bar__title">
                            Raised @publication.CurrentMoney$ of @publication.TargetMoney$ required
                        </div>

                    </div>

                    <div class="main__content__article__button">
                        <a asp-area="Publisher" asp-controller="Publications" asp-action="EditPublication" asp-route-id="@publication.Id" class="button-background-orange">Edit</a>
                        <a asp-controller="Publications" asp-action="PublicationDetails" asp-route-id="@publication.Id" class="button-background-blue">Publication</a>
                        <a asp-area="Publisher" asp-controller="Publications" asp-action="DeletePublication" asp-route-id="@publication.Id" class="button-background-red">Delete</a>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="main__content__article">
                <h2 class="text-large">No publications found</h2>
            </div>
        }

    </div>
</div>

@section Scripts {
    <partial name="_BootstrapScriptsPartial" />

    <script src="~/js/saveQueryParameters.js"></script>
}