@model IEnumerable<PublicationResponse>

@{
    ViewBag.Title = "Home";
}

@foreach (var publication in Model)
{
    <div class="main__content__article">
        
        <partial name="_ImageCarouselPartial" model="publication.ImagesUrls"></partial>

        <div class="main__content__article__title">
            <h2>@publication.Title</h2>
        </div>

        <div class="main__content__article__description">
            <p>@publication.Description</p>
        </div>

        <div class="main__content__article__progress">

            <div class="main__content__article__progress__bar">
                <div class="main__content__article__progress__bar__fill" style="width: @publication.Progress%;"></div>
            </div>
            <div class="main__content__article__progress__bar__title">
                Raised @publication.CurrentMoney$ of @publication.TargetMoney$ required
            </div>

        </div>

        <div class="main__content__article__button">
            <a asp-controller="Publications" asp-action="PublicationDetails" asp-route-id="@publication.Id" class="button-background-blue">Donate</a>
        </div>
    </div>
}

@section Scripts {
    <partial name="_BootstrapScriptsPartial"></partial>
}