@model PublicationResponse

@{
    ViewBag.Title = "Publication";
}

<div class="main__content__article">
    
    <partial name="_ImageCarouselPartial" model="Model.ImagesUrls"></partial>

    <div class="main__content__article__title">
        <h2>@Model.Title</h2>
    </div>

    @*useless*@
    @*<div class="main__content__article__description">
        <p>@Model.Description</p>
    </div>*@

    <div class="post_description">
        <h3 class="misc_info">Description</h3>
        <p class="misc2">@Model.Description</p>
    </div>

    <div class="author">
        <h3 class="misc_info">Author</h3>
        <p class="misc2">@Model.Author.FirstName</p>
    </div>

    <div class="publ_date">
        <h3 class="misc_info">Fundraising started</h3>
        <p class="misc2">>@Model.PublishedDate.ToString("dd.MM.yyyy HH:mm")</p>
    </div>

    @*<div class="expire">
        <h3 class="misc_info">Due to</h3>
        <p class="misc2">12.12.2012</p>
    </div>*@

    @*<div class="main__content__article__progress">
        <div class="main__content__article__progress__bar">
            <div class="main__content__article__progress__bar__fill"></div>
        </div>
        <div class="main__content__article__progress__bar__title">
            Raised 1000$ of 5000$ required
        </div>

    </div>*@

    <div class="main__content__article__button">
        <a>Donate</a>
    </div>
</div>